/*
 *******************************************************************************
 * 
 * File:		$Source$
 * 
 * Description:		Formatting styles used throughout COAP pages.
 * 
 * Created:		2001/01/31
 * Created By:		Paul Egan
 * 
 * Last Edited:		$Date$
 * Edited By:		$Author$
 * 
 * ID:			$Id$
 * 
 * History:		$Log$
 * History:		Revision 1.1  2001/02/01 16:22:54  eganp
 * History:		Copy of SSJS html files with start on change to template form.
 * History:		Also converted to xhtml
 * History:
 * History:		
 * 
 *******************************************************************************
 */
 
body {
 font-family: Helvetica;
 color: #000000;
 background: #FFFFFF;
}

th, td { /* NS needs explicit font spec for tables */
 font-family: Helvetica;
}

input,textarea {
 font-family: monospace;
 font-size: smaller;
}

a {
 color: #333366;
}

.error {
 color: #FF0000;
}

.label { 
 font-weight: bold;
}

.comment {
 font-size: smaller;
 font-style: italic;
}

table p {
 margin: 1px 1px 1px 1px;
}

table form {
 margin: 1px 1px 1px 1px;
}

p.copyright { 
 color: #999999;
 font-size: smaller;
}
